#navForm{
	!width: 636px;
	margin-right: 20px;
	float: left;
	display: inline-block;
}

@media screen and (min-width:240px) and (max-width:480px) {
	#wrapper {
		width: 340px;
	}
	
	#authForm{
		float: none;
	}
	
	#navForm{
		float: none;
		width: 330px;
		margin-right: 0px;
		margin-bottom: 20px;
	}
	
	#toggle-main{
		margin: 10px 5px 10px 10px;
	}
	
	#toggle-calendar{
		margin: 10px 10px 10px 5px;
	}

	#toggle-profile{
		margin: 10px 5px 10px 10px;
	}
	
	#toggle-chat{
		margin: 10px 10px 10px 5px;
	}
	
	#socialForm{
		float: none;
	}
}

@media screen and (min-width:481px) and (max-width:800px) {
	#wrapper {
		width: 660px;
	}
	
	#authForm{
		float: left;
		margin-right: 20px;
		margin-bottom: 0px;
	}
	
	#navForm{
		float: none;
		margin-right: 0px;
		margin-bottom: 20px;
		!width: 330px;
	}
	
	#socialForm{
		!width: 150px;
		float: left;
	}
}
	
#menuNav{
	!height: 60px;
	background-color: #3399cc;
	border-radius: 20px 20px 0 0;
}
	
#toggle-main{
	width: 142px;
	margin: 10px 5px 10px 20px;
}
	
#toggle-calendar{
	width: 142px;
	margin: 10px 10px 10px 5px;
}

#toggle-profile{
	width: 142px;
	margin: 10px 5px 10px 10px;
}
	
#toggle-chat{
	width: 142px;
	margin: 10px 19px 10px 5px;
}

#mainSection{
	!white-space: nowrap;
	!overflow-y: hidden;
	background-color: #fff;
	padding: 20px;
	!height: 800px;
}
	
#navFooter{
	background-color: #3399cc;
	height: 60px;
	border-radius: 0 0 20px 20px;
}


#socialForm{
	width: 320px;
	!margin: 20px;
	float: left;
}
	
#socialNav{
	!height: 60px;
	background-color: #3399cc;
	border-radius: 20px 20px 0 0;
}
	
#social{
	background-color: #3399cc;
	display: inline-block;
	border-radius: 3px;
	width: 300px;
	margin: 10px;
	padding: 10px 0;
	text-align: center;
	text-decoration: none;
	color: #fff;
}

#socialSection{
	!white-space: nowrap;
	!overflow-y: hidden;
	background-color: #fff;
	padding: 20px;
	height: 146px;
}
	
#socialFooter{
	background-color: #3399cc;
	height: 60px;
	border-radius: 0 0 20px 20px;
}