body{
	background-color: #C0C0C0;
	font-family: "Varela Round", Arial, Helvetica, sans-serif;
	!display: inline-block;
}

#wrapper{
	!background-color: #ffff00;
	width: 1000px;
	max-width: 1000px;
	margin: 0 auto;
	margin-top: 5px;
	!height: 1000px;
	height: auto !important;
}
	
#authForm{
	width: 320px;
	margin-bottom: 20px;
	float: left;
}
	
#authNav{
	height: 60px;
	background-color: #3399cc;
	border-radius: 20px 20px 0 0;
}

.button{
	background-color: #3399cc;
	display: inline-block;
	border-radius: 3px;
	padding: 10px 0;
	text-align: center;
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}

.button:hover{
	background: #2288bb;
}
	
#toggle-login{
	width: 142px;
	margin: 10px 5px 10px 10px;
}
	
#toggle-register{
	width: 142px;
	margin: 10px 10px 10px 5px;
}

#toggle-logout{
	width: 300px;
	margin:10px;
}

#authSection{
	!white-space: nowrap;
	background-color: #fff;
	padding: 20px;
}
	
#authFooter{
	background-color: #3399cc;
	height: 60px;
	border-radius: 0 0 20px 20px;
}
	
#authForm input[type="text"], #authForm input[type="password"]{
	width: 200px;
	height: 38px;
	!display: inline-block;
	!box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin: 0 0 20px;
	outline: none;
	background-color: #eee;
	color: #777;
	padding: 4px 10px 4px 32px;
	font-family: "Varela Round", Arial, Helvetica, sans-serif;
	font-size: 100%;
}

#authForm input[type="text"]:focus, #authForm input[type="text"]:active{
	border: 1px solid #3399cc;
}

#authForm input[type="password"]:focus, #authForm input[type="password"]:active{
	border: 1px solid #3399cc;
}

.validateIco{
	!display: inline-block;
	float: right;
	margin-top: 11px;
	width: 24px;
	height: 24px;
	!background: url(../images/button_cancel.png);
}

#avatar{
	display: inline-block;
	!background-color: #c0c0c0;
	!border: 2px solid #3399cc;
	border: 0;
	border-radius: 50px;
	!float: left;
	width: 100%;
	!height: 100px;
}

#avatar:hover{
	background-color: #EBEBEB;
	cursor: pointer;
}

#avatar h3{
	!display: inline-block;
	color: #3399cc;
	!color: #333;
	!font-size: 18px;
	font-weight: 100;
	!width: 180px;
	line-height: 1;
	!float: none;
	text-align: left;
	margin: 23px 10px 0 90px;
}

#avatar img{
	!display: inline-block;
	!clear: both;
	!margin: 40px 0 0;
	!border: 2px solid #3399cc;
	!border-radius: 10px;
	!border-left: 0;
	float: left;
	width: 80px;
	height: 80px;
}
	
.username{
	background: #eee url('../images/login.png') 8px -2px no-repeat;
	background-size: 20px 100px;
}

.username:focus{
    background: #fff url('../images/login.png') 8px -52px no-repeat;
    background-size: 20px 100px;
}
	
.password{
	background: #eee url('../images/password.png') 8px -2px no-repeat;
	background-size: 20px 100px;
}

.password:focus{
	background: #eee url('../images/password.png') 8px -52px no-repeat;
	background-size: 20px 100px;
}

.mail{
	background: #eee url('../images/mail.png') 8px -2px no-repeat;
	background-size: 20px 100px;
}

.mail:focus{
	background: #eee url('../images/mail.png') 8px -52px no-repeat;
	background-size: 20px 100px;
}
	
#authForm input[type="submit"]{
	background-color: #33cc77;
	border: 0;
	border-radius: 3px;
	margin: 0 auto;
	padding: 10px 20px;
	outline: none;
	color: #fff;
	cursor: pointer;
	font-family: "Varela Round", Arial, Helvetica, sans-serif;
	font-size: 100%;
}
	
#authForm input[type="submit"]:hover{
	background-color: #28ad63;
}
	
#loginForm h4{
	color: #3399cc;
	margin: 0 0 10px;
	!font-size: 18px;
	font-weight: 400;
	line-height: 1;
}

#regForm h4{
	color: #3399cc;
	margin: 0 0 10px;
	!font-size: 18px;
	font-weight: 400;
	line-height: 1;
}

#authSection p{
	color: #777;
	font-size: 18px;
	text-align: left;
	margin: 10px 10px 0 60px;
	padding-left: 30px;
	!background: url("../images/envelope.png") no-repeat;
}

#authSection p:hover{
	text-decoration: underline;
	cursor: pointer;
}

#messageP{
	background: url("../images/envelope.png") no-repeat;
}

#settingsP{
	background: url("../images/settings.png") no-repeat;
}