body{
	background-color: #C0C0C0;
	font-family: "Varela Round", Arial, Helvetica, sans-serif;
}
	
#authForm{
	width: 320px;
	margin: 0 auto;
}
	
#authNav{
	height: 60px;
	background-color: #3399cc;
	border-radius: 20px 20px 0 0;
}

.button{
	background-color: #3399cc;
	display: inline-block;
	border-radius: 3px;
	padding: 10px 0;
	text-align: center;
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}

.button:hover{
	background: #2288bb;
}
	
#toggle-login{
	width: 142px;
	margin: 10px 5px 10px 10px;
}
	
#toggle-register{
	width: 142px;
	margin: 10px 10px 10px 5px;
}

#toggle-logout{
	width: 300px;
	margin:10px;
}

#authSection{
	!white-space: nowrap;
	background-color: #fff;
	padding: 20px;
}
	
#authFooter{
	background-color: #3399cc;
	height: 60px;
	border-radius: 0 0 20px 20px;
}
	
#authForm input[type="text"], #authForm input[type="password"]{
	width: 200px;
	height: 38px;
	!display: inline-block;
	!box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin: 0 0 20px;
	outline: none;
	background-color: #eee;
	color: #777;
	padding: 4px 10px 4px 32px;
	font-family: "Varela Round", Arial, Helvetica, sans-serif;
	font-size: 100%;
}

#authForm input[type="text"]:focus, #authForm input[type="text"]:active{
	border: 1px solid #3399cc;
}

#authForm input[type="password"]:focus, #authForm input[type="password"]:active{
	border: 1px solid #3399cc;
}

.validateIco{
	!display: inline-block;
	float:right;
	margin-top: 12px;
	width: 22px;
	height: 22px;
	!background: url(../images/button_cancel.png);
}

.avatar{
	!display: inline-block;
	!float:center;
	!margin-top: 12px;
	width: 100px;
	height: 100px;
	!background: url(../images/button_cancel.png);
}
	
.username{
	background: #eee url('../images/login.png') 8px -2px no-repeat;
	background-size: 20px 100px;
}

.username:focus{
    background: #fff url('../images/login.png') 8px -52px no-repeat;
    background-size: 20px 100px;
}
	
.password{
	background: #eee url('../images/password.png') 8px -2px no-repeat;
	background-size: 20px 100px;
}

.password:focus{
	background: #eee url('../images/password.png') 8px -52px no-repeat;
	background-size: 20px 100px;
}

.mail{
	background: #eee url('../images/mail.png') 8px -2px no-repeat;
	background-size: 20px 100px;
}

.mail:focus{
	background: #eee url('../images/mail.png') 8px -52px no-repeat;
	background-size: 20px 100px;
}
	
#authForm input[type="submit"]{
	background-color: #33cc77;
	border: 0;
	border-radius: 3px;
	margin: 0 auto;
	padding: 10px 20px;
	outline: none;
	color: #fff;
	cursor: pointer;
	font-family: "Varela Round", Arial, Helvetica, sans-serif;
	font-size: 100%;
}
	
#authForm input[type="submit"]:hover{
	background-color: #28ad63;
}
	
#authForm h4{
	color: #3399cc;
	margin: 0 0 10px;
	!font-size: 18px;
	font-weight: 400;
	line-height: 1;
}

#authForm p{
	color: #777;
}